@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 10px;
    /* background-color: #fbfafb; */
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 600px) {
    body {
        padding-bottom: 100px;
    }
}

.preloader-content {
    display: none;
}

.site-title {
    margin-top: 20px;
}

.greet-text {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0px;
}

@media (max-width: 600px) {
    .greet-text {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0px;
    }
}

.table-card:hover {
    background-color: #000000 !important;
    color: #fff;
}

.active-table-card {
    background-color: #291f1f !important;
    color: #fff;
}

.profile-image {
    margin-left: auto;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ranking-card {
    border-radius: 15px;
}

.ranking-icon {
    width: 40px;
}

.rank-title {
    font-size: 17px;
    margin-bottom: 0px;
}

.rank-value {
    font-size: 23px;
    font-weight: 600;
    color: #501350;
    margin-bottom: 0px;
}

.section-topic {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.game-icon {
    width: 50%;
    border-radius: 18px;
    margin-top: -40%;
}

@media (min-width: 600px) {
    .game-icon {
        width: 30%;
        margin-top: -30%;
    }
}

.game-card {
    cursor: pointer;
    margin-top: 30%;
    border-radius: 15px;
    border: none;
}

.game-card:hover {
    filter: drop-shadow(10px 10px 10px #0000001c);
}

.game-card .card-title {
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 600;
}

.other-card {
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

.other-card:hover {
    filter: drop-shadow(10px 10px 10px #0000001c);
}

.other-card img {
    width: 100%;
}

.other-card .icon {
    width: 35%;
}

.main-icon {
    font-size: 35px;
}


/* Menu */

.bottom-menu {
    padding: 10px;
    display: flex;
    border-radius: 25px 25px 0 0;
    justify-content: space-around;
    align-items: center;
    /* background-color: #ffffff; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    filter: drop-shadow(10px 10px 10px #000000b6);
    /* height: 100px; */
}

@media (min-width: 768px) {
    .bottom-menu {
        display: none;
    }
}

.menu-item {
    text-align: center;
    text-decoration: none;
    color: #0e0101;
    padding: 15px 10px;
    flex: 1;
    transition: background-color 0.3s;
}

.menu-item i {
    font-size: 24px;
    display: block;
    color: #0e0101;
}

.menu-item.active {
    background-color: #0e0101;
    color: #fff;
    border-radius: 15px;
    /* Active item background color */
}

.menu-item.active i {
    color: #ffffff;
}


/* Scroll Bar */

::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.course-icon {
    width: 150px;
    height: 100px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.player-icon {
    margin-right: 6px;
}


/* CSS for the black overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff80;
    z-index: 999;
    display: none;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000000;
    transform: translate(-50%, -50%);
}

.video-player {
    margin-top: 15px;
    border: none;
    border-radius: 15px;
}

.video-player iframe {
    width: 100% !important;
    border-radius: 15px;
    height: 40vh;
}

@media (min-width: 600px) {
    .video-player iframe {
        height: 60vh;
    }
}


/* Loading popup styles */

.loading-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.loading-popup-content {
    max-height: 80vh;
    max-width: 60%;
    overflow-y: auto;
    background-color: #fff;
    padding: 25px;
    min-width: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: popupFade 0.3s ease-in-out;
}

@media (max-width: 600px) {
    .loading-popup-content {
        z-index: 9999;
        height: 100vh;
        width: 100%;
        max-height: 100vh;
        max-width: 100%;
        border-radius: 0px;
    }
}

.clickable {
    cursor: pointer;
}

.navbar {
    z-index: 4;
}

input {
    box-shadow: none !important;
}

.card-topic-title {
    background-color: #62508b;
    padding: 10px 10px;
    border-radius: 8px;
    color: #fff;
}